@font-face {
    font-family: 'hermes';
    src: url('assets/fonts/Hermes-Regular.otf');
}

@font-face {
    font-family: 'Teko';
    src: url('assets/fonts/teko/Teko-Medium.ttf');
}

*{
    cursor: none;
}

body{
    
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;
    /* border: 12px solid #3FA9DF; */
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

header img {
    max-width: 100%;
}
.header {
    width: 560px;
    transition: width 0.2s;
}
.header:hover{
    width: 690px;
}

footer img {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -250px;
}
.footer {
    width: 560px;
}


/* header{
    top: 0;
    width: 10px;
} */

div .main .R{
    position:relative;
    height: 100%;
    width:100%;
}

.R{
    z-index: -1;
    width: 300px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition: width 0.2s;
}

.R:hover{
    width: 300px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    /* cursor: pointer; */
}

.main img{
    z-index: 1;
    width: 400px;
    border-radius: 50%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition: width 0.5s;
    /* cursor: pointer; */
}



.main img:hover + .page-wrapper p{
    opacity: 1;
    transition: .5s ease-in;
}

p {
    opacity: 0;
    color: white;
    transition: 1s ease-out;
    transition-delay: 6s;
  }

.main img:hover{
    width: 480px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    opacity: 1;
}



.dp{
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


#top, #bottom, #left, #right {
    background: #3FA9DF;
    }
    #left, #right {
        position: fixed;
        top: 0; bottom: 0;
        width: 15px;
        }
        #left {
            left: 0;
        }
        #right {
            right: 0;
        }
        
    #top, #bottom {
        position: fixed;
        left: 0; right: 0;
        height: 15px;
        }
        #top {
            top: 0;
        }
        #bottom {
            bottom: 0;
        }
        
@media screen and (max-width: 500px){
    #top, #bottom, #left, #right {
        display: none;
    }
}

.page-wrapper {
    /* background-color: red; */
    align-items: center;
    justify-content: center;    
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */
}
.column {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 1;
}
.column1 {
    color: white;
    font-family: 'hermes';
    font-size: 30px;
    /* background-color: orange; */
    height: 300px;
    display: flex;
    align-items: center; 
    justify-content: center;
} 
.column2 {
    color: white;
    font-family: 'hermes';
    font-size: 30px;
    /* background-color: blue; */
    height: 300px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.column3 {
    color: white;
    font-family: 'hermes';
    font-size: 30px;
    /* background-color: green; */
    height: 300px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.column1 p{
    padding: 9px;
    border: 3px solid #3FA9DF;
    border-radius: 20px;
}

.column1{
    transition: transform 1s;
}

.column1:hover{
    transform: scale(1.5);
    animation-duration: 0s;
    animation-fill-mode: forwards;
}

.column3 p{
    padding: 9px;
    border: 3px solid #3FA9DF;
    border-radius: 20px;
}

.column3{
    transition: transform 1s;
}

.column3:hover{
    transform: scale(1.5);
    animation-duration: 0s;
    animation-fill-mode: forwards;
}

.column2 p{
    padding: 9px;
    border: 3px solid #3FA9DF;
    border-radius: 20px;
}

.column2{
    transition: transform 1s;
}

.column2:hover{
    transform: scale(1.5);
    animation-duration: 0s;
    animation-fill-mode: forwards;
}




.front {
	position: absolute;
    z-index: 1;
}

.home-button{
    z-index: 1;
    width: 60px;
    /* cursor: pointer; */
    transition: transform 0.5s;
}

.home-button:hover{
    transform: scale(1.3);
}


#home{
	margin-left: 3%;
	margin-top: 0;
}


.cursor{
    width: 3rem;
    height: 3rem;
    border: 3px solid #3FA9DF;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}




@media screen and (max-width: 768px){
    .main img{
        width: 200px;
    }
    .main img:hover{
        width: 250px;
    }
    .R{
        width: 100px;
    }
    .column1, .column2, .column3{
        font-size: 25px;
        height: 320px;
    }
}